button,
[type='submit'],
[type='button'] {
  -webkit-appearance: none;
  background: none;
}
th {
  font-weight: normal;
}
body {
  font: 0.9em "Droid Sans", Helvetica, Verdana;
  color: #333;
  background: #fff;
  background: #9c9c9c;
}
header {
  color: #000;
  background-color: #0251b7;
  background-image: -webkit-linear-gradient(top, #1a75cf 4.7%, #0251b7);
}
.footer {
  background: #f00;
  color: #fff;
}
