th {
  font-weight: normal;
}
body {
  font: 0.9em 'comic sans ms';
  background: #fff;
}
.header-button.show-search {
  background-image: url("/foo/iphone/images/barrowLoRez@2x.png");
}
body {
  background: #fff;
}
