
// Resets
th
  font-weight normal

// Generic styles
body
  font 0.9em $defaultFontFamily

  color $primaryBack if $web
  background $primaryBack if $native

.header-button.show-search
  image-element('images/barrowLoRez.png')
