// State setup
$native = not $web

if $native
  vendor-prefixes = webkit

// Generic declarations
$contentPadding = 10px

$primaryColor = #333
$primaryBack = white

if $iphone
  $headerColor = #475169
else if $android
  $headerColor = #fff
else
  $headerColor = #666 // \m/
$headerFont = #000

if $android     // poor lil Andy can't handle the radius
  $borderRadius = 5px
else
  $borderRadius = 10px

if $android
  $defaultFontFamily = "Droid Sans",Helvetica,Verdana
else
  $defaultFontFamily = "Helvetica Neue",Helvetica,Verdana

@import "helpers.styl"
