button, [type='submit'], [type='button']
  appearance none
  background none

th
  font-weight normal

// Generic styles
body
  font 0.9em $defaultFontFamily

  color $primaryColor
  background $primaryBack unless $iphone
  background #9c9c9c if $native
